@page "/proposals/{ProposalId}/roles"
@inject ProposalClient ProposalClient
<div class="container">
    <div class="row">
        <div class="col offset-lg-3">
            <h1>Project roles</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-3">
            <ProposalNavigation ProposalId="@ProposalId" />
        </div>
        <div class="col-9">
            @if(IsLoading)
            {
                <LoadingIndicator/>
            }
            else
            {
                if(Roles.Count == 0)
                {
                    <p>You don't have any roles defined yet. <a href="#" @onclick="GenerateRoleDescriptions" @onclick:preventDefault class="btn btn-link">Generate role descriptions for me.</a></p>
                }
                else
                {
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Role</th>
                                <th>Description</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach(var roleDescription in Roles)
                            {
                                <tr>
                                    <td>@roleDescription.Name</td>
                                    <td>@roleDescription.Description</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
            }
        </div>
    </div>
</div>